$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$font-burbank-black: 'BurbankBigRegular-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-burbank-bold: 'BurbankBigRegular-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$primary-color: #333;
$secondary-color: #d8d8d7;
$ternary-color: #666666;
$quaternary-color: #999999;

$quinquernary-color: #000000;
$sexternary-color: #000000;
$septernary-color: #000000;

$black-color: #000000;
$white-color: #ffffff;

$common-color: #bec0bf;
$uncommon-color: #56ad02;
$rare-color: #0B9DE0;
$epic-color: #B056E9;
$legendary-color: #E2854B;
$mythic-color: #b5a55d;

body {
    font-family: $font;
}
ul {
    list-style: none;
    margin: 0;

    margin-left: 1rem;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.backArrow {
    margin-right: 12px;
    a {
        text-decoration: none;
        color: $black-color;
        &:hover {
            color: $ternary-color;
        }
    }
}

.header {
    // background: $primary-color;
    background: $black-color;
    margin-bottom: 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    &__container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0.5rem 1.0875rem;
    }
    & h1 {
        margin: 0;
        font-size: 0.875rem;
    }
    & a {
        // color: $secondary-color;
        color: $white-color;
        text-decoration: none;
    }
}

.container {
    // margin: 24px auto;
    margin: 0 auto 24px;
    max-width: 1200px;
    padding: 48px 1.0875rem 1.45rem;
    // padding-top: 0;
    @media only screen and (max-width: 601px) {
		// padding: 0 0.33rem 1.45rem;
	}
    &--full {
        margin: 24px auto;
        /* max-width: 1200px; */
        padding: 0 1.0875rem 1.45rem;
        padding-top: 0;
        @media only screen and (max-width: 601px) {
            // padding: 0 0.33rem 1.45rem;
        }
    }
    @media only screen and (max-width: 619px) {
        padding: 48px 1.0875rem 1rem;
    }
    .breadcrumb {
        // color: $white-color;
        a {
            // color: $white-color;
        }
    }
    .title {
        font-family: $font-burbank-bold;
        // color: $white-color;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    // grid-auto-rows: 180px;
    align-content: space-between;
    justify-content: space-between;
    justify-content: space-between;
    @media only screen and (min-width: 1200px) {

    }
    @media only screen and (max-width: 1199px) {
        // grid-template-columns: repeat(5, 180px);
    }
    @media only screen and (max-width: 999px) {
        // grid-template-columns: repeat(4, 180px);
    }
    @media only screen and (max-width: 829px) {
		// grid-template-columns: repeat(3, 180px);
    }
    @media only screen and (max-width: 619px) {
        grid-template-columns: repeat(2, 1fr);
        // grid-gap: 12px 6px;
        // margin: 0 -0.8rem;
    }
    @media only screen and (max-width: 459px) {
        // grid-template-columns: repeat(2, 160px);
        // grid-gap: 12px 6px;
        // margin: 0 -0.8rem;
    }
    a {
        text-decoration: none;
    }
}

.card {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 12px;

    padding: 12px;
    height: 180px;
    h3 {
        font-size: 1.02rem;
        // &:hover {
            
        // }
    }
    &:hover {
        transform: scale(1.01);
        cursor: pointer;
        // background-color: $ternary-color;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 12px;
        // box-shadow: rgb(198, 208, 235) 0px 30px 60px;
    }
}

/* .games {

} */


.heroesCards {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    grid-gap: 12px;
    // grid-auto-rows: 180px;
    align-content: space-between;
    justify-content: space-between;
    justify-content: space-between;

    // font-family: $font-burbank-bold;
    
    @media only screen and (min-width: 1200px) {

    }
    @media only screen and (max-width: 1199px) {
        grid-template-columns: repeat(5, 180px);
    }
    @media only screen and (max-width: 999px) {
        grid-template-columns: repeat(4, 180px);
    }
    @media only screen and (max-width: 829px) {
		grid-template-columns: repeat(3, 180px);
    }
    @media only screen and (max-width: 619px) {
        grid-template-columns: repeat(2, 160px);
        grid-gap: 12px 6px;
        // margin: 0 -0.8rem;
    }
    @media only screen and (max-width: 459px) {
        grid-template-columns: repeat(2, 160px);
        grid-gap: 12px 6px;
        // margin: 0 -0.8rem;
    }
    a {
        text-decoration: none;
    }
}

.heroCard {
    width: 180px;
    height: 280px;
    // display: grid;
    position: relative;
    border: 4px solid $ternary-color;
    // border: linear-gradient(33deg, #404651, #b7becc);
    background-color: $quaternary-color;
    background: radial-gradient(#60626a, #3b3b40, #111111);
    color: $white-color;

    .hero_page & {
        width: calc(100% - 24px);
        height: auto;
    }

    // padding: 12px;
    // &:hover {
    //     transform: scale( 0.9785);
    // }
    // div {
    //     position: relative;
    // }
    // &__name {
    //     text-overflow: clip;
    // }
    // .gatsby-image-wrapper {
    //     margin: -12px -12px 0;
    // }
    &[data-rarity='mythic'] {
        border: 4px solid $mythic-color;
        background-color: $quaternary-color;
        background: radial-gradient(#e8c86f, #d3a83e, #be9626);
    }
    &[data-rarity='legendary'] {
        border: 4px solid $legendary-color;
        background-color: $quaternary-color;
        background: radial-gradient(#e1700e, #d26309, #c45600);
    }
    &[data-rarity='epic'] {
        border: 4px solid $epic-color;
        background-color: $quaternary-color;
        background: radial-gradient(#a747e7, #943ce0, #8032d6);
    }
    &[data-rarity='rare'] {
        border: 4px solid $rare-color;
        background-color: $quaternary-color;
        background: radial-gradient(#0c8bdf, #0875d2, #0562bf);
    }
    &[data-rarity='uncommon'] {
        border: 4px solid $uncommon-color;
        background-color: $quaternary-color;
        background: radial-gradient(#44a202, #309104, #1a8113);
    }
    &__overlay {
        height: 60px;
        background-color: rgba(0, 0, 0, 0.33);
        // margin: -12px 0;
        // position: relative;
        // z-index: 10;
        padding: 6px;
    }
    &__texte {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: $font-burbank-bold;
    }
    &__class {
        font-family: $font-burbank-bold;
    }
    &__bottom {
        height: 40px;
        // background: linear-gradient(#777c82, #a4abb2);
        background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(62, 62, 62, 0));
        // margin: -12px 0;
        // position: relative;
        // z-index: 10;
        padding: 6px;
    }
    & .mythic {
        border: 4px solid #fbe9a7;
        // border: linear-gradient(33deg, #404651, #b7becc);
        background-color: $quaternary-color;
        background: radial-gradient(#e8c86f, #d3a83e, #be9626);
    }
    @media only screen and (max-width: 619px) {
        width: 160px;
        height: 260px;
    }
}

.heroe-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.hero {
    &-page {

    }
    &-container {
        display: grid;
        grid-template-columns: 33.333% 66.666%;
        grid-template-rows: 1fr;
        @media only screen and (max-width: 619px) {
            grid-template-columns: 50% 50%;
        }
    }
    &__title {
        margin-bottom: 0.5rem;
        font-family: $font-burbank-bold;
        &Fr {
            font-weight: normal;
            &:before {
                content: "🇫🇷 ";
                position: relative;
                margin-top: 1px;
            }
        }
    }
    &-informations {
        p {
            margin: 0;
        }
        .hero__class {
            text-transform: capitalize;
            font-family: $font-burbank-bold;
            // margin-bottom: 0.25rem;

        }
        .hero__ability {
            margin-bottom: 0.25rem;
        }
    }
}

.link {
    align-self: end;
    // position: absolute;
    // bottom: 0;
    &--live {
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        display: inline-block;
        padding: 2px 24px;
        text-decoration: none;
        color: $white-color;
        &:hover {
            background-color: rgba(0, 0, 0, 0.55);
            color: $white-color;
        }
    }
}

// Fortnite Creative

.card.creative {
    h3 {
        color: $white-color;
        margin-bottom: 12px;
    }
    p {
        color: $secondary-color
    }
    .link {
        color: $white-color;
        font-weight: bold;
    }
}

// Live

.playerTwitch {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    margin-bottom: 60px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.chatTwitch {
    position: relative;
    overflow: hidden;
    padding-top: 40%;

    margin-bottom: 60px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.allTwitchVideos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    // grid-auto-rows: 180px;
    align-content: space-between;
    justify-content: space-between;
    justify-content: space-between;
    @media only screen and (min-width: 1200px) {

    }
    @media only screen and (max-width: 1199px) {
        // grid-template-columns: repeat(5, 180px);
    }
    @media only screen and (max-width: 999px) {
        // grid-template-columns: repeat(4, 180px);
    }
    @media only screen and (max-width: 829px) {
		// grid-template-columns: repeat(3, 180px);
    }
    @media only screen and (max-width: 619px) {
        grid-template-columns: repeat(2, 1fr);
        // grid-gap: 12px 6px;
        // margin: 0 -0.8rem;
    }
    @media only screen and (max-width: 459px) {
        // grid-template-columns: repeat(2, 160px);
        // grid-gap: 12px 6px;
        // margin: 0 -0.8rem;
    }
    a {
        text-decoration: none;
    }
}

.twitchVideo {
    background-color: $secondary-color;
    color: $ternary-color;
    border-radius: 12px;

    padding: 12px;
    height: 200px;
    h3 {
        font-size: 0.875rem;
        max-width: 40ch;
        // &:hover {
            
        // }
    }
    // &:hover {
    //     transform: scale(1.01);
    //     cursor: pointer;
    //     // background-color: $ternary-color;
    //     box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 12px;
    //     // box-shadow: rgb(198, 208, 235) 0px 30px 60px;
    // }
    a {
        color: $primary-color;
    }
}

footer {
    margin: 24px auto 0;
    max-width: 1200px;
    padding: 0 1.0875rem 1.45rem;
    & a {
        color: $primary-color;
        &:hover {
            color: $black-color;
        }
    }
}

#about {
    margin-bottom: 24px;
}
ul {
    &.links {
        margin: 0;
        padding: 0;

        display: flex;
        & li {
            margin-right: 1.3rem;
            & a {
                // color: $ternary-color;
                color: #abd8f4;
                text-decoration: none;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

/* 
Table
Generic Styling, for Desktops/Laptops 
*/
.oT {
    overflow-x:auto;
}
table, th, td {
    border: 1px solid $black-color;
    vertical-align: middle;
}
table { 
    width: 100%; 
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eeeeee; 
}
th { 
    background: $primary-color; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 3px; 
    border: 1px solid #cccccc; 
    text-align: left; 
}

tr {
    td {
        color: $white-color;
        font-weight: bold;

        &:nth-child(1) {
            color: $black-color;
            font-weight: normal;
        }

        &:nth-child(2), &:nth-child(3) {
            background: $common-color;
        }
        &:nth-child(4), &:nth-child(5) {
            background: $uncommon-color;
        }
        &:nth-child(6), &:nth-child(7) {
            background: $rare-color;
        }
        &:nth-child(8), &:nth-child(9) {
            background: $epic-color;
        }
        &:nth-child(10), &:nth-child(11) {
            background: $legendary-color;
        }
        &:empty {
            background: $white-color;
        }
    }
}