.color-one {
    color: #333333;
}
.-bg-color-one {
    background-color: #333333;
}
.color-two {
    color: #d8d8d7;
}
.bg-color-two {
    background-color: #d8d8d7;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
}

.header {
    /* background: rebeccapurple; */
    background: #333333;
    margin-bottom: 1.45rem;
}
.header__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.45rem 1.0875rem;
}
.header h1 {
    margin: 0;
}
.header a {
    color: #d8d8d7;
    text-decoration: none;
}

.container {
    margin: 24px auto;
    max-width: 1200px;
    padding: 0 1.0875rem 1.45rem;
    padding-top: 0;
}
.container--full {
    margin: 24px auto;
    /* max-width: 1200px; */
    padding: 0 1.0875rem 1.45rem;
    padding-top: 0;
}

/* .games {

} */
.games a {
    /* text-decoration: none; */
    color: #999999;
}
.games a:hover {
    color: #666666;
}

.card {
    width: 180px;
    height: 280px;

    position: absolute;

    border: 4px solid #333333;
    background-color: #999999;

    color: #ffffff;

    padding: 12px;
}

/* .playerTwitch {

} */

footer {
    margin: 24px auto;
    max-width: 1200px;
    padding: 0 1.0875rem 1.45rem;
}

footer a {
    color: #333333;
}
footer a:hover {
    color: #000000;
}

ul.links {
    margin: 0;
    padding: 0;

    display: flex;
}

ul.links li {
    margin-right: 1.3rem;
}
ul.links li a {
    color: #666666;
}
ul.links li a:hover {
    color: #333333;
}

/* 
Table
Generic Styling, for Desktops/Laptops 
*/
table, th, td {
    border: 1px solid black;
    vertical-align: middle;
}
table { 
    width: 100%; 
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 3px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

tr td:nth-child(2) {
    background: #BEC0BF;
    color: #ffffff;
    font-weight: bold;
}

tr td:nth-child(2) {
    background: #BEC0BF;
    color: #ffffff;
    font-weight: bold;
}
tr td:nth-child(3) {
    background: #BEC0BF;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

tr td:nth-child(4) {
    background: #56AD02;
    color: #ffffff;
    font-weight: bold;
}
tr td:nth-child(5) {
    background: #56AD02;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
tr td:nth-child(5) {
    background: #56AD02;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

tr td:nth-child(6) {
    background: #0B9DE0;
    color: #ffffff;
    font-weight: bold;
}
tr td:nth-child(7) {
    background: #0B9DE0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

tr td:nth-child(8) {
    background: #B056E9;
    color: #ffffff;
    font-weight: bold;
}
tr td:nth-child(9) {
    background: #B056E9;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

tr td:nth-child(10) {
    background: #E2854B;
    color: #ffffff;
    font-weight: bold;
}
tr td:nth-child(11) {
    background: #E2854B;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}